<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:component-scan base-package="com.cudrania.spring"/>
    <bean id="requestMappingConfiguration"
          class="com.cudrania.spring.handlermapping.RequestMappingConfiguration">
        <property name="packagePattern" value="^com.nianien.controller.?"/>
        <property name="packageReplacement" value="/api/"/>
        <property name="defaultRequestMethods" value="POST"/>
        <property name="requestMethodMapping">
            <util:map map-class="java.util.LinkedHashMap">
                <entry key="get.*" value="GET"/>
                <entry key="update.*" value="POST"/>
                <entry key="save.*" value="GET,POST"/>
            </util:map>
        </property>
        <property name="nameResolver">
            <bean class="com.cudrania.spring.handlermapping.NamingResolver"/>
        </property>
    </bean>
    <bean class="com.cudrania.spring.resolver.GlobalHandlerExceptionResolver">
        <property name="definedExceptions">
            <set>
                <value>java.lang.Exception</value>
            </set>
        </property>
        <property name="order" value="-1"/>
    </bean>
    <!--容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL -->
    <mvc:resources mapping="/resources/**" location="/META-INF"/>

</beans>