<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <context:component-scan base-package="com.kavas.misc.spring"/>
    <bean id="requestMappingConfiguration"
          class="com.kavas.misc.spring.handlermapping.RequestMappingConfiguration">
        <property name="packagePattern" value="^com.nianien.controller.?"/>
        <property name="packageReplacement" value="/api/"/>
        <property name="defaultRequestMethods" value="GET,POST"/>
        <property name="requestMethodMapping">
            <map>
                <entry key="get.*" value="GET"/>
                <entry key="update.*" value="POST"/>
                <entry key="save.*" value="GET,POST"/>
            </map>
        </property>
        <property name="nameResolver">
            <bean class="com.kavas.misc.spring.handlermapping.NamingResolver"/>
        </property>
    </bean>
    <!--容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL -->
    <mvc:resources mapping="/resources/**" location="/META-INF"/>

</beans>